.grid-layout {
 background-color: $black-color;
height: 100%;
color: $white-color;

}

.page-trigger {
  height: 100vh;
  display: grid;
  grid-template-columns: 25vw 73vw;
  grid-gap: 2vw;
  
  
}

.page-name {
  @include flex-display
  ;font-size: 3rem;
}

#footer {
  height: 60vh;
 
}
