.grid-layout {
//  background-color: $black-color;
height: 100%;


}

.page-trigger {
  height: 100vh;
  display: grid;
  grid-template-columns: 25vw 73vw;
  grid-gap: 2vw;
  
  
}

.page-name {
  @include flex-center
  ;font-size: 8.5rem;
}

#footer {
  height: 60vh;
 
}



