.logo-box {
  position: absolute;
  top: 2.0rem;
  left: 2.5rem;

  &-text {
    color: $black-color;
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
  }
}


#image-text {
  background: url(../img/thuku.png);
  -webkit-background-clip: text;
  background-attachment: contain;
  background-repeat: no-repeat;
  -webkit-text-fill-color: rgba(255,255,255,0);
  background-position: center;
  line-height: 1rem;
  font-size: 1.5rem;
  text-align-last: right;
  width: 100%;
  height: 100%;
}








h1,h2,h3{
  position: relative;
  width: max-content;
  font-family: "Space Mono", monospace;
  margin-left: 16rem;
  font-size: 6.5rem;
  color: $black-color;
  font-weight: 600;
  
  
}




h1::before,
h1::after,
h2::after,
h2::before,
h3::before,
h3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}



h1::before {
  background-color: $white-color;
  animation: typewriter $header-one-typewriter-speed steps(17) 3s forwards;
}

h1::after {
  width: .225rem;
  background: $black-color;
  animation: 
  typewriter $header-one-typewriter-speed steps(17) 3.0s forwards,
  pointer 4.3s steps(17) 2.9s forwards;
}

h2::before {
  background-color: $white-color;
  animation: typewriter $header-two-typewriter-speed steps(16) 5s forwards;
 

}

h2::after {
  width: .225rem;
  background: $black-color;
  animation: typewriter $header-two-typewriter-speed steps(16) 5s forwards,
  pointer 5.3s steps(16) 6s infinite;
}

h3::before {
  animation: typewriter 2s steps(8) 1.6s forwards;
  background-color: $white-color;

}

h3::after {
  width: .225rem;
  background: $black-color;
  animation: typewriter 2s steps(8) 1.5s forwards,
  pointer 2.3s steps(8)  1.5s forwards;
}
